.header {
    
}

.header__container {
    padding: 65px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;

}

.header__logo {
    a {
        font-family: "Allerta Stencil", sans-serif;
        text-decoration: none;
        color: #a18a68;
        font-size: 35px;
        line-height: 116%;
    }

    span {
        color: #000;
    }

}

.header__body {
    display: flex;
    align-items: center;

}

.header__menu {
    position: relative;
}

.header__menu::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 20px;
    width: 17px;
    height: 1px;
    background-color: #707070;
    transform: rotate(90deg);

}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.header__link {
    margin-right: 64px;
    color: #000;
    text-decoration: none;
}
.header__link:hover {
    color: #a18a68;
    transition-duration: 0.3s;
}
.header__icons:hover {
    color: #a18a68;
    transition-duration: 0.3s;
}

.icons {}

.icons__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
}
.header__mobile{
    display: none;
    position: relative;
}
.header__search {
    padding: 6px 10px;
    display: none;
    width: 340px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #efefef;
    font-size: 20px;
    position: relative;
}
.header__search_input {
    padding-left: 30px;
    background-color: #efefef;
    width: 300px;
    position: relative;
}
.header__burger {
    background-color: #fff;

}
.header__list_mobile{
    display: none;
    
}
.header__search::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    top: 14px;
    left: 15px;
    background-image: url(../../icons/header/loop_mobile.svg);
}
.icons__link {}
.x{
    display: none;
}
@media (max-width: 768px) {
    .icons__list {
        gap: 20px;
    }
    .header__link {
        margin-right: 24px;
        
    }    
    .header__menu::after {
        display: none;
    }

}
@media (max-width: 576px) {
    .header__menu {
        display: none;
    }
    .header__icons{
        display: none;
    }
    .header__mobile{
        display: flex;
        gap:20px;
        position: relative;
    }
    .header__search {
        display: block;
    }
    .header__container {
        border-bottom: none;
    }
    .header__list_mobile{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        gap: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #fff;
        padding: 10px;
        font-size: 24px;
    }
    .x {
        display: none;
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 3;
        background-color: #fff;
    }
}