.main__shop {
}
.shop {
}
.shop__container {
    padding: 0;
}
.container {
}
.shop__header {
}
.shop__title {
    font-weight: 500;
    font-size: 33px;
    line-height: 130%;
}
.shop__block_2 {
    display: flex;
    justify-content: space-between;
}
.shop__filter {
    
    display: flex;
    flex-direction: column;
    
}
.input__block {
    display: flex;
    position: relative;
    button{
        position: absolute;
        top: 10px;
        right: 0px;
        height: 19px;
        width: 19px;
        background-color: #fff;
    }
}
.shop__input {
    
    height: 35px;
    width: 222px;
    display: block;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
}
// .input__block::after {
//     content:'';
//     position: absolute;
//     width: 19px;
//     height: 19px;
//     right: 10px;
//     top: 10px;
//     background-image: url(../../icons/page_shop/loop.svg);
// }
.shop__select {
    display: block;
    border: 1px solid  #d8d8d8;
    border-radius: 4px;
    width: 261px;
    height: 53px;
    margin-bottom: 20px;
}
.shop__filterPrice {
    
}
.shop__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop__item {
}
.item {
    
}
.item__photo {
}
.item__title {
}
.item__price {
}
.item__links {
}
.item__links_shop {
    top: 160px;
    left: 140px;
}
.item__link_ {
}
.item__link {
}
